services:
  app:
    build: .
    ports:
      - 80:80
    volumes:
      - ./ianseo:/var/www/html/

  db:
    image: mysql:8.4
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ianseo
      MYSQL_USER: ianseo
      MYSQL_PASSWORD: ianseo
      MYSQL_DATABASE: ianseo

  adminer:
    image: adminer:5
    ports:
      - 8080:8080

volumes:
  db_data:
